@import "src/styles";

.mat-elevation-z8 {
  opacity: 0;
  animation: smoothShow 1s .5s forwards 1;

  table {
    width: 100%;
  }
}

mat-paginator {
  background-color: $dirty-white-color;
}


.mat-row {
  cursor: pointer;
  background-color: $dirty-white-color;
  outline: none;
  &:hover {
    background-color: $dark-grey-color;
  }

  &:hover * {
    color: white;
  }
}
.mat-header-row {
  background-color: $dark-grey-color;

  & *{
    color: white;
  }
}

.mat-header-cell {
  font-size: 1rem;
}

//::ng-deep .mat-select-panel {
//  background: $dirty-white-color !important;
//  color: white;
//}




