<!--delete something-->
<div class="container" *ngIf="data.message.includes('delete')">
  <h1 mat-dialog-title>Hi</h1>
  <div mat-dialog-content>
    <p>Do you want to delete???</p>
    <p *ngFor="let item of data.items">{{item.name}}</p>
  </div>
  <div mat-dialog-actions class="button-container">
    <p class="button" [mat-dialog-close]="{route: data.message.split(' ')[1], items: data.items}">Ok</p>
    <p class="button cancel-button" [mat-dialog-close]>Cancel</p>
  </div>
</div>
