@import "src/styles";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  height: 100%;

  h2 {
    @include main-element-text-font-set;
    letter-spacing: .2rem;
  }

  .button-container {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .button {
      @include main-element-text-font-set;
      color: $red-color;
      cursor: pointer;
      transition: all .2s;

      &:hover {
        transform: scale(1.2);
      }
    }

    .cancel-button {
      color: $dark-grey-color;
    }
  }
}

