<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push" position="end" class="sidenav">
      <p class="logo">eli<span class="logo__n-letter">n</span>ext <span class="logo__ads-word">ads</span></p>
      <div class="settings-container">
        <div class="settings-container__showing-time-setting">
          <h2>Showing time (s):</h2>
          <mat-slider
            class="showing-time-slider"
            [max]="30"
            [min]="5"
            [step]="5"
            [thumbLabel]="true"
            [(ngModel)]="showingTimeValue"
            [tickInterval]="1"
          >
          </mat-slider>
        </div>

        <div class="settings-container__transition-time-setting">
          <h2>Transition time (ms):</h2>
          <mat-slider
            class="transition-time-slider"
            [max]="1500"
            [min]=250
            [step]="250"
            [thumbLabel]="true"
            [(ngModel)]="transitionTimeValue"
            [tickInterval]="1"
          >
          </mat-slider>
        </div>
      </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="buttons-container">
      <mat-icon *ngIf="!sidenav.opened" class="buttons-container__icon-button" (click)="authService.logout()" matTooltip="click to logout">exit_to_app</mat-icon>
      <mat-icon *ngIf="!sidenav.opened" class="buttons-container__icon-button" (click)="sidenav.toggle()" matTooltip="click to open settings">settings</mat-icon>
    </div>

    <div class="continue-autoplay-area"></div>
    <mat-carousel
      [timings]="transitionTimeValue"
      [autoplay]="!sidenav.opened ? true : false"
      [interval]="showingTimeValue*1000 + transitionTimeValue"
      [useKeyboard]="true"
      color="accent"
      maxWidth="100%"
      proportion="70"
      [loop]="true"
      [hideArrows]="true"
      [hideIndicators]="true"
      orientation="ltr"
    >
      <mat-carousel-slide
        *ngFor="let campaign of campaigns | async"
      >
        <div class="content-container" [style.background]="campaign.design.background">
          <div class="tag-container">
            <span class="tag">#{{campaign.tag}}</span>
          </div>
          <div class="text-container">
            <p class="text"
               [ngStyle]="{'font-family': campaign.design.fontFace, 'color': campaign.design.fontColor}">{{campaign.text}}</p>
          </div>
        </div>
      </mat-carousel-slide>
    </mat-carousel>
  </mat-sidenav-content>
</mat-sidenav-container>



