@import "src/styles";


mat-sidenav-container {

  .sidenav {
    background-color: $dirty-white-color;

    .logo {
      @include main-element-text-font-set;
      @include no-highlight;
      font-size: 250%;
      padding: 2rem;
      color: $dark-grey-color;
      text-align: center;

      &__n-letter {
        color: $red-color;
      }

      &__ads-word {
        color: $yellow-color;
        font-size: 52%;
        letter-spacing: 0px;
        margin-left: -19px;
        vertical-align: text-bottom;
      }
    }

    .settings-container {

      &__showing-time-setting, &__transition-time-setting {
        margin: 1rem 1rem 2rem;

        h2 {
          padding-left: 8px;
          padding-bottom: 1rem;
          @include main-element-text-font-set;
          @include no-highlight;
          font-weight: bold;
          text-transform: uppercase;
          color: $dark-grey-color;
          font-size: 100%;
        }

        .showing-time-slider, .transition-time-slider {
          width: 100%;
        }
      }


    }
  }

  mat-sidenav-content {

    .buttons-container {
      z-index: 9;
      position: absolute;
      top: 0;
      right: 0;
      padding: 2% 2% 10% 10%;
      width: 17%;
      display: flex;
      justify-content: space-between;
      opacity: 0;
      transition: all 1s;


      &:hover {
        opacity: 1;
      }

      &__icon-button {
        display: block !important;
        font-size: 1.5rem;
        cursor: pointer;
        transition: all .2s;
        opacity: 0.2;
        border: none;
        outline: none;
        @include no-highlight;

        &:hover {
          opacity: 1;
          font-size: 1.9rem;
          transform: translate(-.2rem, -.2rem);
        }

        &:active {
          opacity: 1;
          font-size: 1.7rem;
          transform: translate(-.1rem, .05rem);
        }
      }
    }

    .continue-autoplay-area {
      z-index: 8;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 20%;
      height: 30%;
    }

    .content-container {
      width: 100%;
      height: 100vh;
      padding: 5%;
      font-size: 30px;
      cursor: default;
      @include no-highlight;

      .tag-container {
        .tag {
          @include main-element-text-font-set;
          background-color: $yellow-color;
          border-radius: 30px;
          padding: .3rem 1rem;
        }
      }

      .text-container {
        width: 80%;

        .text {
          @include content-text-font-set;
          font-weight: bolder;
          padding: 10% 0;
        }
      }
    }
  }
}



