@import "src/styles";

form {
  display: flex;
  flex-direction: column;
  align-items: center;


  ::ng-deep .mat-form-field-wrapper {
    width: 20rem !important;
  }

  ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.4em 0px !important;
  }

  ::ng-deep .mat-form-field-label-wrapper {
    top: -1.5em;
  }

  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
  }
}

.button {
  @include main-element-text-font-set;
  color: $red-color;
  cursor: pointer;
  border: none;
  background: inherit;
  outline: none;
  font-size: 100%;
  transition: all .2s;

  &:hover {
    transform: scale(1.2);
  }

  &:disabled,
  &[disabled] {
    background-color: #cccccc;
    color: #666666;

    &:hover {
      transform: none;
    }
  }
}
