<!--add new or edit screen-->
<div class="container" *ngIf="data.message === 'new screen' || data.message === 'edit screen'">
  <h2>{{data.message}}</h2>
<!--  <form [formGroup]="newScreenForm" (ngSubmit)="logFormValue()">-->
<!--    <mat-form-field appearance="outline" color="accent">-->
<!--      <mat-label>Name</mat-label>-->
<!--      <input matInput placeholder="{{'Type screen name'}}" formControlName="name">-->
<!--      &lt;!&ndash;      <mat-error&ndash;&gt;-->
<!--      &lt;!&ndash;        *ngIf="newCampaignForm.get('name').hasError('required') && (newCampaignForm.get('name').touched || newCampaignForm.get('name').dirty)">&ndash;&gt;-->
<!--      &lt;!&ndash;        {{'Name is'}} <strong>{{'required'}}</strong><br><br>&ndash;&gt;-->
<!--      &lt;!&ndash;      </mat-error>&ndash;&gt;-->
<!--    </mat-form-field>-->
<!--    <mat-form-field appearance="outline" color="accent">-->
<!--      <mat-label>Office</mat-label>-->
<!--      <mat-select formControlName="office">-->
<!--        <mat-option *ngFor="let office of offices" [value]="office">{{office}}</mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->
<!--    <mat-form-field appearance="outline" color="accent" >-->
<!--      <mat-label>Floor</mat-label>-->
<!--      <mat-select formControlName="floor">-->
<!--        <mat-option *ngFor="let floor of floors" [value]="floor">{{floor}}</mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->
<!--    <mat-form-field appearance="outline" color="accent" >-->
<!--      <mat-label>Room</mat-label>-->
<!--      <mat-select formControlName="room">-->
<!--        <mat-option *ngFor="let room of rooms" [value]="room">{{room}}</mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->


<!--    <button class="button" [disabled]="newScreenForm.invalid"-->
<!--            [mat-dialog-close]="newScreenForm.value">-->
<!--      {{data.message === 'new screen' ? 'create screen' : 'edit screen'}}-->
<!--    </button>-->

<!--  </form>-->
</div>
