@import "src/styles";

.auth-container {
  height: 100%;
  background-color: $dirty-white-color;

  display: flex;
  justify-content: center;
  align-items: center;
  //#232b55

  .logo {
    position: absolute;
    top: 0;
    @include main-element-text-font-set;
    @include no-highlight;
    opacity: 0;
    animation: smoothShow .8s .5s forwards 1;
    font-size: 260%;
    padding: .2rem;
    margin-bottom: 1rem;
    color: $dark-grey-color;

    &__n-letter {
      color: $red-color;
    }

    &__ads-word {
      color: $yellow-color;
      font-size: 52%;
      letter-spacing: 0px;
      margin-left: -19px;
      vertical-align: text-bottom;
    }
  }

  .form-container {
    width: 37rem;
    padding: 3%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: auth-form-animation 1.3s forwards 1;
    h1 {
      @include main-element-text-font-set;
      padding-bottom: 5%;
      letter-spacing: 5px;
    }

    mat-form-field {
      width: 70%;
    }

    .button {
      @include no-highlight;
      @include main-element-text-font-set;
      margin-top: 3%;
      color: $red-color;
      cursor: pointer;
      border: none;
      background: inherit;
      outline: none;
      font-size: 150%;
      animation-fill-mode: forwards;
      animation-delay: .5s;
      transition: all .2s;


      &:hover {
        transform: translateY(-3px);
      }

      &:active {
        transform: translateY(-1px);
      }

      &:disabled,
      &[disabled] {
        background-color: #cccccc;
        color: #666666;

        &:hover {
          transform: none;
        }
      }
    }

    .another-login {
      margin-top: 3%;
      font-size: 80%;
      @include content-text-font-set;
      @include no-highlight;
      font-weight: bold;
      text-transform: uppercase;
      color: rgba(44, 51, 63, 0.37);
      transition: all .5s;
      cursor: pointer;
      text-decoration: underline;

      &:hover {
        color: $dark-grey-color;
        transform: translateY(-2px);
        text-decoration: none;
      }
    }
  }
}







