<div class="auth-container">
  <p class="logo">eli<span class="logo__n-letter">n</span>ext <span class="logo__ads-word">ads</span></p>

  <form class="form-container" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    <h1>Authorization</h1>
    <mat-form-field *ngIf="!isScreen" appearance="outline" color="accent">
      <mat-label>Email</mat-label>
      <input id="email" matInput placeholder="{{'Email'}}" [(ngModel)]="mail" name="email"
             #email="ngModel" required email>
      <mat-error
        *ngIf="email.touched && email.errors?.required">
        {{'Email is'}} <strong>{{'required'}}</strong><br><br>
        <br>
      </mat-error>
      <mat-error
        *ngIf="email.touched && email.errors?.email">
        {{'Please enter a valid email address'}}<br><br>
        <br>
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="!isScreen" appearance="outline" color="accent">
      <mat-label>Password</mat-label>
      <input id="password" type="password" matInput placeholder="{{'Password'}}" [(ngModel)]="pass"
             name="password" #password="ngModel" required minlength="6">
      <mat-error
        *ngIf="(password.touched || password.dirty) && password.errors?.minlength">
        {{'The password must have a minimum of'}}
        <strong>6</strong> {{'characters'}}.
        <br>
        {{'Now'}} -
        <strong>{{pass.length }} </strong> {{'characters'}}
        .
      </mat-error>
      <mat-error
        *ngIf="(password.touched || password.dirty) && password.errors?.required">
        {{'Password is'}} <strong>{{'required'}}</strong><br><br>
        .
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent" *ngIf="isScreen">
      <mat-label>Screen identifier</mat-label>
      <input id="screen-identifier"
             type="text"
             matInput
             placeholder="{{'office-floor-room'}}"
             [(ngModel)]="screenId"
             name="screenID"
             #screenIdentifier="ngModel"
             required
             mask="0-0-09"
      >
      <mat-error
        *ngIf="(screenIdentifier.touched || screenIdentifier.dirty) && screenIdentifier.errors?.required">
        {{'Screen identifier is'}} <strong>{{'required'}}</strong><br><br>
        .
      </mat-error>
    </mat-form-field>


    <button class="button" [disabled]="authForm.invalid">sign in</button>
    <p class="another-login"
       (click)="switchToAnotherLogin()"
       matTooltip="click to login as {{user}}"
    >login as {{user}}</p>
  </form>

</div>
