@import "src/styles";
.side-nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;


  .side-nav-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .logo {
      @include main-element-text-font-set;
      @include no-highlight;
      font-size: 200%;
      padding: 2rem;
      color: $dirty-white-color;

      &__n-letter {
        color: $red-color;
      }

      &__ads-word {
        color: rgba(255, 255, 255, 0.4);;
      }
    }

    .side-nav {
      @include main-element-text-font-set;
      list-style: none;

      &__item {
        outline: none;
      }

      &__link {
        color: $dirty-white-color;
        text-decoration: none;
        font-size: 80%;
        display: flex;
        padding: .5rem 0 .5rem 2rem;
      }

      &__link:hover {
        color: $yellow-color;
        border-left: 3px solid currentColor;
      }

      &__icon {
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 1rem;
        fill: currentColor;
      }
    }
  }

  .current-user-section {
    margin: 1.5rem 1.5rem 2rem;
    font-family: Roboto, serif;
    cursor: pointer;
    display: flex;
    justify-content: space-between;

    &:hover mat-icon{
      transform: scale(1.6);
    }

    &__credentials-block {

      .name {
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 16px;
        color: #FFFFFF;
        text-transform: uppercase;
      }

      .email {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 12px;
        color: #ACACAC;
        padding-top: 10px;
      }
    }

    &__arrow-block {
      display: flex;
      align-items: center;
      mat-icon {
        display: block !important;
        color: #ACACAC;
        font-size: 120%;
        font-weight: 100;
        width: auto;
        height: auto;
        transition: all .3s;
      }
    }
  }
}


.active-route {
  font-size: 100% !important;
  color: $dark-grey-color !important;
  background-color: $yellow-color;
}

