<div class="side-nav-container">
  <div class="side-nav-content-container">
    <p class="logo">eli<span class="logo__n-letter">n</span>ext <span class="logo__ads-word">ads</span></p>

    <ul class="side-nav">

      <li class="side-nav__item">
        <a routerLink="campaigns" class="side-nav__link" routerLinkActive="active-route">
          <svg class="side-nav__icon">
            <use xlink:href="././././assets/icomoon/symbol-defs.svg#icon-megaphone"></use>
          </svg>
          <span>campaigns</span>
        </a>
      </li>

      <li class="side-nav__item">
        <a routerLink="screens" class="side-nav__link" routerLinkActive="active-route">
          <svg class="side-nav__icon">
            <use xlink:href="././././assets/icomoon/symbol-defs.svg#icon-tv"></use>
          </svg>
          <span>screens</span>
        </a>
      </li>

      <li class="side-nav__item">
        <a routerLink="templates" class="side-nav__link" routerLinkActive="active-route">
          <svg class="side-nav__icon">
            <use xlink:href="././././assets/icomoon/symbol-defs.svg#icon-image"></use>
          </svg>
          <span>templates</span>
        </a>
      </li>

      <li class="side-nav__item">
        <a routerLink="users" class="side-nav__link" routerLinkActive="active-route">
          <svg class="side-nav__icon">
            <use xlink:href="././././assets/icomoon/symbol-defs.svg#icon-user"></use>
          </svg>
          <span>users</span>
        </a>
      </li>

      <li class="side-nav__item">
        <a routerLink="tags" class="side-nav__link" routerLinkActive="active-route">
          <svg class="side-nav__icon">
            <use xlink:href="././././assets/icomoon/symbol-defs.svg#icon-price-tag"></use>
          </svg>
          <span>tags</span>
        </a>
      </li>

      <li class="side-nav__item">
        <a routerLink="settings" class="side-nav__link" routerLinkActive="active-route">
          <svg class="side-nav__icon">
            <use xlink:href="././././assets/icomoon/symbol-defs.svg#icon-cog"></use>
          </svg>
          <span>settings</span>
        </a>
      </li>
    </ul>
  </div>


  <div class="current-user-section" matTooltip="Click to logout" (click)="authService.logout()">
    <div class="current-user-section__credentials-block">
      <p class="name">{{name}}</p>
      <p class="email">{{email}}</p>
    </div>
    <div class="current-user-section__arrow-block">
      <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
    </div>
  </div>
</div>

