@import "src/styles";

.content-container {
  width: 100%;
  height: 90%;
  padding: 5%;
  font-size: 30px;

  .tag-container {
    .tag {
      @include main-element-text-font-set;
      background-color: $yellow-color;
      border-radius: 30px;
      padding: .3rem 1rem;
    }
  }

  .text-container {
    width: 80%;
    .text {
      @include content-text-font-set;
      font-weight: bolder;
      padding: 10% 0;
    }
  }
}

.button-container {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .button {
    @include main-element-text-font-set;
    color: $red-color;
    cursor: pointer;
    border: none;
    background: inherit;
    outline: none;
    font-size: 100%;
    transition: all .2s;

    &:hover {
      transform: scale(1.2);
    }
  }
}

