<!--<div class="container">-->
  <div class="content-container" [style.background]="background">
    <div class="tag-container">
      <span class="tag">#{{data.tag}}</span>
    </div>
    <div class="text-container">
      <p class="text" [ngStyle]="{'font-family': fontFace, 'color': fontColor}">{{data.text}}</p>
    </div>
  </div>

  <div class="button-container">
      <button class="button" matDialogClose>back</button>
  </div>



