<!--add new campaign or edit campaign-->
<div class="container" *ngIf="data.message === 'new campaign' || data.message === 'edit campaign'">
  <h2>{{data.message}}</h2>
  <form [formGroup]="newCampaignForm" (ngSubmit)="logFormValue()">
    <mat-horizontal-stepper>
      <mat-step>
        <ng-template matStepLabel>Name, text, tags</ng-template>

        <mat-form-field appearance="outline" color="accent">
          <mat-label>Name</mat-label>
          <input matInput placeholder="{{'Type campaign name'}}" formControlName="name">
          <mat-error
            *ngIf="newCampaignForm.get('name').hasError('required') && (newCampaignForm.get('name').touched || newCampaignForm.get('name').dirty)">
            {{'Name is'}} <strong>{{'required'}}</strong><br><br>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Tag</mat-label>
          <mat-select formControlName="tag">
            <mat-option *ngFor="let tag of tags" [value]="tag.name">{{tag.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Text</mat-label>
          <textarea matInput #textInput maxlength="256" placeholder="{{'Type text of campaign'}}"
                    formControlName="text"></textarea>
          <mat-hint align="end">{{textInput.value.length}} / 256</mat-hint>
          <mat-error
            *ngIf="newCampaignForm.get('text').hasError('required') && (newCampaignForm.get('text').touched || newCampaignForm.get('text').dirty)">
            {{'Text is'}} <strong>{{'required'}}</strong><br><br>
          </mat-error>
        </mat-form-field>

        <button type="button" class="button" matStepperNext>Next</button>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Design</ng-template>

        <div formGroupName="design" class="design-block">
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Design</mat-label>
            <mat-select [(value)]="selectedDesign" formControlName="designType">
              <mat-option *ngFor="let designType of designTypes" [value]="designType"
                          (click)="changeDesign(designType)">{{designType}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" color="accent">
            <mat-label>Font face</mat-label>
            <mat-select formControlName="fontFace"
                        [style.font-family]="newCampaignForm.get('design').get('fontFace').value">
              <mat-option *ngFor="let fontFace of fontFaces" [value]="fontFace"
                          [style.font-family]="fontFace">{{fontFace}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="color-input-wrapper" (click)="fontColorInput.click()">
            <mat-label [style.color]="newCampaignForm.get('design').get('fontColor').value">Font color</mat-label>
            <mat-card>
              <input type="color" matInput formControlName="fontColor" #fontColorInput>
            </mat-card>
          </div>

          <div class="color-input-wrapper"
               *ngIf="selectedDesign === 'solid color'"
               [style.background]="newCampaignForm.get('design').get('backgroundColor').value"
               (click)="backgroundColorInput.click()">
            <mat-label>Background color</mat-label>
            <mat-card>
              <input type="color" matInput formControlName="backgroundColor" #backgroundColorInput>
            </mat-card>
          </div>

          <div class="gradient-color-input-container"
               *ngIf="selectedDesign === 'gradient'">
            <div class="color-input-wrapper"
                 [style.background]="newCampaignForm.get('design').get('leftColor').value"
                 (click)="leftColorInput.click()">
              <mat-label>Color #2</mat-label>
              <mat-card>
                <input type="color" matInput formControlName="leftColor" #leftColorInput>
              </mat-card>
            </div>

            <div class="color-input-wrapper"
                 [style.background]="newCampaignForm.get('design').get('rightColor').value"
                 (click)="rightColorInput.click()">
              <mat-label>Color #2</mat-label>
              <mat-card>
                <input type="color" matInput formControlName="rightColor" #rightColorInput>
              </mat-card>
            </div>
          </div>
        </div>
        <div class="button-container">
          <button type="button" class="button" (click)="openPreview(newCampaignForm.value)">Preview</button>
          <button type="button" class="button" matStepperNext>Next</button>
        </div>

      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Screens, time</ng-template>

        <mat-form-field appearance="outline" color="accent">
          <mat-label>Start date</mat-label>
          <input formControlName="startDate"
                 matInput
                 [min]="minDate"
                 [max]="maxDate"
                 [matDatepicker]="startPicker"
                 (focus)="startPicker.open()"
                 placeholder="{{'Choose a start date'}}"
          >
          <mat-datepicker-toggle matSuffix
                                 [for]="startPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>

        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
          <mat-label>End date</mat-label>
          <input formControlName="endDate"
                 matInput
                 [min]="minDate"
                 [max]="maxDate"
                 [matDatepicker]="endPicker"
                 (focus)="endPicker.open()"
                 placeholder="{{'Choose an end date'}}"
          >
          <mat-datepicker-toggle matSuffix
                                 [for]="endPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>

        </mat-form-field>
        <button type="button" class="button" matStepperNext>Next</button>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Screens</ng-template>

        <mat-expansion-panel
          #expansionPanel
          [expanded] = "!isCurrentScreensPanelDisabled"
          [disabled]="isCurrentScreensPanelDisabled"
          matTooltip="Select 'ALL' office to undisable"
          *ngIf="screens"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Screens
            </mat-panel-title>
            <mat-panel-description>
              Current choosen screens
              <mat-icon>tv</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="current-screens-container">
            <p *ngFor="let screen of screens">{{screen.name}}</p>
          </div>
        </mat-expansion-panel>

        <div formGroupName="screen" class="screen-block">

          <mat-form-field appearance="outline" color="accent">
            <mat-label>Office</mat-label>
            <mat-select [(value)]="selectedOffice"
                        formControlName="office">
              <mat-option *ngFor="let office of offices"
                          [value]="office"
                          (click)="changeOffice(office); changeCurrentScreensPanelStatus()"
              >{{office}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" color="accent"
                          *ngIf="this.newCampaignForm.controls['screen'].controls['floor']">
            <mat-label>Floor</mat-label>
            <mat-select formControlName="floor">
              <mat-option *ngFor="let floor of floors" [value]="floor"
                          (click)="changeFloor(selectedOffice, floor)">{{floor}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" color="accent"
                          *ngIf="this.newCampaignForm.controls['screen'].controls['rooms']">
            <mat-label>Rooms</mat-label>
            <mat-select formControlName="rooms">
              <mat-option *ngFor="let room of rooms" [value]="room"
              >{{room}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button class="button" [disabled]="newCampaignForm.invalid"
                [mat-dialog-close]="data.message === 'edit campaign' ? {item: newCampaignForm.value, id: data.currentID} : newCampaignForm.value">{{data.message === 'new campaign' ? 'create campaign' : 'edit campaign'}}</button>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>





