@import "src/styles";

//add new campaign
h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;


  ::ng-deep .mat-form-field-wrapper {
    width: 20rem !important;
    //height: 2rem !important;
    //transform: scale(.8);
  }

  ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.4em 0px !important;
  }

  ::ng-deep .mat-form-field-label-wrapper {
    top: -1.5em;
  }

  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
  }

  .form-content-wrapper {
    display: flex;

    .left-side, .right-side {
      display: flex;
      flex-direction: column;
      margin: 1rem;

    }
  }
}

.color-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  border: 1px solid #e2e2e2;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    border: 2px solid black;
    padding: 11px;
  }

  * {
    cursor: inherit;
  }

  mat-card {
    width: 2rem;
    padding: 0;
  }
}


input[type="color"] {
  width: 100%;
  height: 30px;
  border: none;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}

textarea {
  min-height: 100px;
}

.button {
  @include main-element-text-font-set;
  color: $red-color;
  cursor: pointer;
  border: none;
  background: inherit;
  outline: none;
  font-size: 100%;
  transition: all .2s;

  &:hover {
    transform: scale(1.2);
  }

  &:disabled,
  &[disabled] {
    background-color: #cccccc;
    color: #666666;

    &:hover {
      transform: none;
      transform: none;
    }
  }
}


::ng-deep .mat-horizontal-stepper-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

::ng-deep .mat-horizontal-content-container {
  padding: 0;
}

.gradient-color-input-container {
  display: flex;
  justify-content: space-between;
}

//.image-input-container {
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//
//  * {
//    margin-bottom: 1rem;
//  }
//

.button-container {
  width: 30%;
  display: flex;
  justify-content: space-between;

  p[type=button] {
    background-color: $red-color;
    color: $dirty-white-color;
    border-radius: 3px;
    letter-spacing: .1rem;
    padding: .3125rem 1.25rem;
    cursor: pointer;
    transition: all .2s;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    margin-left: .5rem;
    opacity: 0;
    @include main-element-text-font-set;
    animation: smoothShow 1s forwards 1;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    }
  }
}

.design-block, .screen-block {
  display: flex;
  flex-direction: column;
}

mat-expansion-panel {
  width: 20rem;
  margin-bottom: 7%;

  .current-screens-container {
    height: 100px;
    overflow: auto;
  }
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}


