@import "src/styles";

.header-container {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 1rem;
  @include no-highlight;

  .section-title-container {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    cursor: pointer;

    &:hover .menu-icon {
      transform: scale(1.5);
    }

    &:hover .back-icon {
      animation: backButtonAnimation 1s infinite;
    }

    mat-icon {
      margin-right: .7rem;
      transition: all .3s;
    }

    .section-title {
      color: $dark-grey-color;
      letter-spacing: .2rem;
      font-size: 200%;
      margin-left: .5rem;
      @include main-element-text-font-set;
    }
  }


  .buttons-wrapper {
    display: flex;
    //flex-direction: row;
    align-items: center;
  }

  .header-button {
    height: 50px;
    background-color: $red-color;
    color: $dirty-white-color;
    border-radius: 3px;
    letter-spacing: .1rem;
    padding: .3125rem 1.25rem;
    cursor: pointer;
    transition: all .2s;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    margin-left: .5rem;
    opacity: 0;
    border: none;
    outline: none;
    @include main-element-text-font-set;
    animation: smoothShow 1s forwards 1;
    //animation-fill-mode: forwards;
    //animation-delay: .5s;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    }
  }


}






