<div class="header-container">
  <div class="section-title-container" (click)="currentPageInformation.includes('about') ? goBack() : openSidebar()">
      <mat-icon class="menu-icon" *ngIf="!currentPageInformation.includes('about')">menu</mat-icon>
      <mat-icon class="back-icon" *ngIf="currentPageInformation.includes('about')">arrow_back</mat-icon>
  <p class="section-title">{{reduxService.headerTitle}}</p>
  </div>
  <div class="buttons-wrapper">
    <p class="header-button" *ngIf="itemsForDelete.length && !currentPageInformation.includes('about')" (click)="openDeleteDialog(itemsForDelete)">delete {{reduxService.addButtonTitle}}</p>
    <p class="header-button" *ngIf="reduxService.addButtonTitle" (click)="openAddNewDialog()">add new {{reduxService.addButtonTitle}}</p>
    <p class="header-button" *ngIf="currentPageInformation.includes('about')" (click)="openEditDialog()">edit</p>
  </div>
</div>
