<mat-sidenav-container class="container">

  <mat-sidenav #sidenav mode="push" class="sidebar" (click)="sidenav.toggle()">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <header class="header">
        <app-header (onChanged)="sidenav.toggle()"></app-header>
      </header>
      <main class="main-content">
        <router-outlet></router-outlet>
      </main>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
