@import "../../styles";

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: smoothShow 1s forwards 1;

  .sidebar {
    background-color: $dark-grey-color;
  }

  .content {
    background-color: $dirty-white-color;

    .header {
      position: sticky;
      top: 0;
      z-index: 999999;
      background-color: inherit;
      box-shadow: 0px 0px 25px 25px $dirty-white-color;
      margin: 0 1rem .5rem;
    }

    .main-content {
      padding: 25px 2rem;
    }
  }

}

::ng-deep .mat-drawer-content {
  background-color: $dirty-white-color;
  min-height: 100vh;
}






