@import "src/styles";

::ng-deep .mat-tab-label-content {
  text-transform: uppercase;
  font-size: 1.2rem;
  @include main-element-text-font-set;
}

::ng-deep .mat-tab-body-content {
  display: flex;

  * {
    flex: 50%;
    margin: .5rem 1rem 0 0;
  }

  .design-container {
    display: flex;

    .preview-container {
      height: 450px;
      padding: 3%;
      font-size: 25px;

      .tag-container {
        .tag {
          @include main-element-text-font-set;
          background-color: $yellow-color;
          border-radius: 30px;
          padding: .2rem .6rem;
        }
      }

      .text-container {
        width: 80%;

        .text {
          @include content-text-font-set;
          font-weight: bolder;
          @media screen and (max-width: 1100px){
            font-size: 80%;
          }
        }
      }
    }

    .design-inf-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      @include content-text-font-set;
      font-size: .8rem;
      margin: 0;

      .design-inf-container__inf-wrapper {
        padding: 0;
      }
    }

  }

  .text-inf-container {
    @include content-text-font-set;
    font-size: .8rem;
  }

  .other-campaign-inf-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @include content-text-font-set;
    font-size: .8rem;

    .other-campaign-inf-container__inf-wrapper {
      padding: 0;
    }
  }

}



.information-container {

  * {
    padding: .5rem;
  }
}

