<mat-tab-group>

  <mat-tab label="information">
<!--    <div class="information-container">-->
      <div class="text-inf-container">
        <h3>Text</h3>
        <p>{{campaign.text}}</p>
      </div>
      <div class="other-campaign-inf-container">
        <div class="other-campaign-inf-container__inf-wrapper">
          <h3>Start date</h3>
          <p>{{campaign.startDate | date: 'MMMM d, y'}}</p>
        </div>
        <div class="other-campaign-inf-container__inf-wrapper">
          <h3>End date</h3>
          <p>{{campaign.endDate | date: 'MMMM d, y'}}</p>
        </div>
        <div class="other-campaign-inf-container__inf-wrapper">
          <h3>Tag</h3>
          <p>{{campaign.tag}}</p>
        </div>
      </div>
<!--    </div>-->
  </mat-tab>


  <mat-tab label="design">
    <div class="design-container">
      <div class="preview-container" [style.background]="background">
        <div class="tag-container">
          <span class="tag">#{{campaign.tag}}</span>
        </div>
        <div class="text-container">
          <p class="text" [ngStyle]="{'font-family': fontFace, 'color': fontColor}">{{campaign.text}}</p>
        </div>
      </div>
      <div class="design-inf-container">
        <div class="design-inf-container__inf-wrapper">
          <h3>Design</h3>
          <p>{{campaign.design.designType}}</p>
        </div>
        <div class="design-inf-container__inf-wrapper">
          <h3>Font face</h3>
          <p [style.font-family]="campaign.design.fontFace">{{campaign.design.fontFace}}</p>
        </div>
        <div class="design-inf-container__inf-wrapper">
          <h3>Font color</h3>
          <p [style.color]="campaign.design.fontColor">{{campaign.design.fontColor}}</p>
        </div>
      </div>
    </div>
  </mat-tab>

</mat-tab-group>
