/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$dark-grey-color: #2c333f;
$red-color: #ef0d33;
$yellow-color: #f2c94c;
$dirty-white-color: #f2f2f2;
$main-font: 'Oswald', sans-serif;
$secondary-font: 'Roboto', sans-serif;


@mixin main-element-text-font-set {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

@mixin content-text-font-set {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: normal;
}

@mixin no-highlight {
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

* {
  margin: 0;
  padding: 0
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 130%;

  &::selection {
    background-color: $yellow-color;
  }
}



html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: .3rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px transparent;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #8b8b8b;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #414141;
}


//animations
@keyframes smoothShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes auth-form-animation {
  0% {
    opacity: 0;
    transform: translate(0%, -10%);

  }

  45% {
    transform: translate(-.3%, 1%);

    box-shadow: 20px 20px 20px rgb(184, 180, 180);
  }

  100% {
    opacity: 1;
    transform: translate(0%, 0%);
    box-shadow: 6px 11px 13px rgb(184, 180, 180);
  }
}

@keyframes error {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes backButtonAnimation {
  0%, 100% {
    transform: translateX(0) scale(1.5);
  }

  30% {
    transform: translateX(-10px) scale(1.7);
  }
}









