@import '~@angular/material/theming';
@import "~ngx-toastr/toastr.css";
@import "styles";
@include mat-core();

$my-app-primary: mat-palette($mat-red);
$my-app-accent:  mat-palette($mat-amber);
$my-app-warn:    mat-palette($mat-deep-orange);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);


//toasts-theming
.toast-error {
  background-color: $red-color !important;
  animation: error 1s forwards 1;
  text-align: center;
}






